.button {
  display: inline-block;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $button-white-space;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $button-border-width solid transparent;
  @include button-size(
    $button-padding-y,
    $button-padding-x,
    $button-font-size,
    $button-line-height,
    $button-border-radius
  );
  @include transition($button-transition);

  @include hover() {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $button-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $button-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled) {
    cursor: if($enable-pointer-cursor-for-buttons, pointer, null);

    &:active,
    &.active {
      @include box-shadow($button-active-box-shadow);

      &:focus {
        @include box-shadow($button-focus-box-shadow, $button-active-box-shadow);
      }
    }
  }
}
