@import '../../../styles/mixins/rem-calc';
@import '../../../styles/variables';

.search_box_group {
  height: rem-calc(50px);
  width: 35%;
  display: flex;
  align-items: center;
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);

  svg {
    margin: 0 1rem;
    opacity: 0.4;
    fill: $light-mode-input-color;
  }

  input {
    height: 100%;
    width: 100%;
    padding-right: rem-calc(12px);
    border: 0;
    color: $light-mode-input-color;
    font-size: 14px;

    &:active,
    &:focus {
      outline: 0;
    }
  }

  &.dark {
    background-color: $dark-mode;
    color: $white;

    svg {
      color: $white;
      fill: $white;
    }

    input {
      background-color: $dark-mode;
      color: $white;
    }
  }
}
