@import './../../styles/mixins/rem-calc';
@import './../../styles/mixins/breakpoint';
@import './../../styles/variables';

.countries {
  &__filter-box {
    padding: rem-calc(40px) 0;

    @include breakpoint(mobile) {
      padding: rem-calc(20px) 0;

      .row {
        flex-direction: column;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    padding: 1rem 1.5rem;

    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
    }

    @include breakpoint(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
