@import '../../styles/mixins/rem-calc';
@import '../../styles/variables';

.card {
  background-color: $white;
  box-shadow: 0 rem-calc(4px) rem-calc(8px) 0 rgba(0, 0, 0, 0.05);
  color: $light-mode-input-color;
  font-weight: $font-weight-bold;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }

  &__link {
    text-decoration: none;
    color: $light-mode-text-color;
    float: left;
    border-radius: rem-calc(5px);
  }

  &__flag {
    width: 100%;
    height: rem-calc(200px);
    object-fit: cover;
  }

  &__body {
    padding: rem-calc(20px);

    &-detail {
      label {
        font-weight: $font-weight-bolder;
        font-size: rem-calc(16px);
      }
    }
  }
}
