@import '../../../styles/mixins/rem-calc';
@import '../../../styles/variables';

.dropdown {
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  color: $light-mode-input-color;
  height: rem-calc(50px);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  width: 220px;
  justify-content: center;
  position: relative;
  font-size: 14px;
  cursor: pointer;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);

    &.open {
      transform: rotate(-180deg);
    }
  }

  &__list {
    padding: 0;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
    color: $light-mode-input-color;
    position: absolute;
    list-style-type: none;
    width: 220px;
    top: rem-calc(40px);
    left: 0;
    position: absolute;
    border-radius: 5px;
    animation-name: dropDown;
    animation-duration: 0.3s;
    overflow: hidden;
  }

  &__listitem {
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:first-child {
      padding-top: 1rem;
    }

    &:last-child {
      padding-bottom: 1rem;
    }

    &:hover {
      background-color: $light-mode-background-color;
      font-weight: $font-weight-bold;
    }
  }
}

@keyframes dropDown {
  from {
    height: 0;
  }
  to {
    height: 190px;
  }
}
